/* -------------------------------------------------------------------- 
   Reset adapted from normalize.css by @necolas.
   -------------------------------------------------------------------- */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* -------------------------------------------------------------------- 
   Base styles
   -------------------------------------------------------------------- */

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333;
  background-color: #fff;
  margin: 0;
  padding: 0;
}
a {
  color: #0882f0;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0,0); /* Removes the dark touch outlines on links */
}

/* -------------------------------------------------------------------- 
   Typography
   -------------------------------------------------------------------- */
   
h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, serif;
  font-weight: bold;
  margin: 10px 0;
}
h1, h2, h3 {
  line-height: 40px;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { 
  font-weight: inherit; 
}
h1 { font-size: 40px; }
h2 { font-size: 35px; }
h3 { font-size: 30px; }
h4 { font-size: 24px; }
h5 { font-size: 18px; }
h6 { font-size: 14px; }

p { margin: 0 0 20px 0; }
p img { margin: 0; }

em { font-style: italic; }
strong { font-weight: bold; color: #333; }
small { font-size: 80%; }

abbr[title] {
    border-bottom: 1px dotted;
}
b,
strong {
    font-weight: bold;
}
dfn {
    font-style: italic;
}
mark {
    background: #ff0;
    color: #000;
}
code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em;
}
pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}
q {
    quotes: "\201C" "\201D" "\2018" "\2019";
}
small {
    font-size: 80%;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}

/* -------------------------------------------------------------------- 
   Embedded content
   -------------------------------------------------------------------- */

img {
  /* Responsive images (ensure images don't scale beyond their parents) */
  max-width: 100%; /* Part 1: Set a maxium relative to the parent */
  width: auto\9; /* IE7-8 need help adjusting responsive images */
  height: auto; /* Part 2: Scale the height according to the width, otherwise you get stretching */
}
svg:not(:root) {
  overflow: hidden;
}

/* -------------------------------------------------------------------- 
   Figures
   -------------------------------------------------------------------- */

figure {
  margin: 0;
}

/* -------------------------------------------------------------------- 
   Forms
   -------------------------------------------------------------------- */

fieldset {
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
  border: 1px solid #c0c0c0;
}
legend {
  padding: 0;
  border: 0;
}
button,
input,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: 100%;
}
button,
input {
    line-height: normal;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
textarea {
    overflow: auto;
    vertical-align: top;
}

/* -------------------------------------------------------------------- 
   Tables
   -------------------------------------------------------------------- */

table {
    border-collapse: collapse;
    border-spacing: 0;
}