/* -------------------------------------------------------------------- 
   Buttons
   -------------------------------------------------------------------- */
   
[class*="button"] {
  position: relative;
  display: inline-block;
  padding: 10px 12px;
  margin: 0;
  color: #333;
  text-align: center;
  font-weight: bold;
  line-height: 1.1;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #ccc;
  background-color: #f8f8f8;
}
[class*="button"]:hover {
  background-color: #fcfcfc;
  color: #333;
}
.button-small {
  padding: 6px 8px;
  font-size: 14px;
}
.button-large {
  padding: 14px 20px;
  font-size: 22px;
}
.button-block {
  display: block;
  width: 100%;
}
[class*="button"]:active {
  padding-top: 11px;
  padding-bottom: 9px;
}
.button-small:active {
  padding-top: 7px;
  padding-bottom: 5px;
}
.button-large:active {
  padding-top: 15px;
  padding-bottom: 13px;
}

/* Icons in buttons */
[class*="button"] .icon {
  font-size: 35px;
  line-height: 12px;
}
.button-small .icon {
  font-size: 30px;
  line-height: 10px;
}
.button-large .icon {
  font-size: 40px;
  line-height: 16px;
}