/* -------------------------------------------------------------------- 
   Documentation styles
   -------------------------------------------------------------------- */

/* Header on mobile & sidebar on desktop */
.header {
  display: block;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  text-align: center;
}
.title {
  font-size: 24px;
}
.navigation{
  display: none;
}
.star-btn { 
  display: none;
}
.version {
  display: none
}
/* The download button has a little bit of top margin to position it nicely. */
.download {
  display: block;
  margin-top: 10px;
}
.section {
  margin-top: 60px;
  margin-bottom: 80px;
  clear: both;
}
.section-description {
  margin-bottom: 30px;
  color: #555;
  font-size: 20px;
  font-weight: 300;
}
.section-sub-title {
  font-size: 24px;
}
/* The masthead refers to the big explaination text at the top of the main column */
.masthead {
  margin-top: 0;
}
.masthead-text {
  margin-top: 30px;
  margin-bottom: -10px;
  padding-bottom: 24px;
  color: #777;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}
/* Hides some of the copy to bring the download button above the fold. */
.hide-on-mobile {
  display: none;
}
.example {
  font-weight: 500;
}
.docs-split {
  clear: both;
}


/* Specific styles for the grid example of the docs. */
.grid-example {
  margin-bottom: 40px;
  clear: both;
}
.grid-example [class*="column"] {
  padding-top: 15px;
  padding-bottom: 15px;
  background: #eee; 
  font-size: 14px;
  font-weight: bold;
  color: #999;
  white-space: nowrap;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  border: 1px solid #ddd;
}
.grid-example [class*="column"] [class*="column"] {
  padding: 0 4%;
}
/* Hides the grid example text for desktop by default */
.lg-grid { 
  display: none;
}
.btn-example [class*="button"] {
  margin-bottom: 10px;
}
.footer {
  padding: 21px 0;
  margin: 0;
  font-size: 70%;
  color: #777;

}

/* Prettify styles */
body pre.prettyprint {
  margin-bottom: 80px;
  padding: 10px;
  overflow-x: auto;
  border: 1px solid #ddd;
  font-size: 14px;
  white-space: pre;
  word-wrap: normal;
  background-color: #fafafa;
  border-radius: 3px; 
}
[class*="column"] pre.prettyprint:last-child {
  margin-bottom: 0;
}
body pre.less-margin {
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  /* Shortening up the container width and increasing the padding for the docs. */
  .container { max-width: 720px }
  [class*="column"] {
    padding: 0 1.5%;
  }
  /* Shows the correct grid example for when you're on mobile or desktop */
  .grid { display: none; }
  .lg-grid { display: inline; }
  /* Positions the main content column correctly with the sidebar. */
  .container {
    margin-left: 23%;
    margin-right: 3%;
  }
  .masthead-text {
    font-size: 40px;
    text-align: inherit;
  }
  .hide-on-mobile {
    display: block;
  }
  .download {
    display: inline-block;
  }
  /* Desktop sidebar */
  .header {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 0 2%;
    width: 20%;
    background-color: #f8f8f8;
    border-right: 1px solid #ddd;
    text-align: inherit;
    box-shadow: inset -1px 0 5px rgba(0,0,0,.05);
  }
  .title {
    margin-top: 47px;
    margin-right: 10%;
    font-size: 30px;
    text-shadow: 0 1px 0 #fff;
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(#333), to(rgba(0,0,0,0.85)));
  }
  .navigation {
    display: block;
    padding: 0;
    margin: 15px 0 20px 0;
    list-style: none;
  }
  .navigation li a {
    display: block;
    padding: 12px 13%;
    margin: 0 -12.5%;
    border-bottom: 1px solid #ddd;
    color: #333;
    text-shadow: 0 1px 0 #fff;
    box-shadow: inset 0 1px 0 rgba(255,255,255,1);
    -webkit-transition: all 0.1s ease-in 0;
       -moz-transition: all 0.1s ease-in 0;
            transition: all 0.1s ease-in 0;
  }
  .navigation li:first-child a {
    border-top: 1px solid #ddd;
  }

  .navigation li.active a,
  .navigation li a:hover {
    background-color: #fff;
    box-shadow: inset -1px 0 5px rgba(0,0,0,.05);
  }
  .navigation li a:hover {
    color: #0882f0;
  }
  .navigation li.active a {
    color: #333;
    font-weight: 700;
  }
  .star-btn { 
    display: block;
  }
  .version {
    display: block;
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 0 0 20px;
    width: 100%;
    font-size: 70%;
    color: #777;
    text-shadow: 0 1px 0 #fff;
    list-style: none;
  }
  .version li {
    float: left;
    padding-right: 20px;
  }
  .version a {
    color: #777;
  }
  .version a:hover {
    color: #0964b5;
  }
  .btn-example [class*="button"]  {
    margin-bottom: 0;
  }
}