/* -------------------------------------------------------------------- 
   Theme
   -------------------------------------------------------------------- */

.masthead {
  margin-bottom: 40px;
  padding: 12%;
  background-color: #f1f1f1;
  text-align: center;
}
.title {
  font-size: 70px;
  margin-bottom: 20px;
}
.subheader {
  margin-bottom: 0;
  font-size: 25px;
  line-height: 30px;
}

.grid-example [class*="column"] {
  padding: 15px;
  background: #eee; 
  border-radius: 3px; 
  text-align: center; 
  font-weight: bold; 
  color: #999;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.lg-grid { display: none; }

#buttons [class*="button"] {
  margin-bottom: 5px;
}
.section {
  margin-bottom: 20px;
}
.section-header {
  text-align: center;
  border-bottom: 1px solid #ddd;
  margin-bottom: 40px;
}
.section-title {
  font-size: 50px;
  margin-bottom: 10px;
}
.section-description {
  font-size: 20px;
}
.section-divider {
  margin: 20px -3% 50px;
}
.feature {
  text-align: center;
}
.feature .icon {
  font-size: 92px;
  display: block;
  margin-bottom: 10px;
  line-height: 49px;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(#333), to(rgba(0,0,0,0.8)));
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 75px;
    margin-bottom: 30px;
  }
  .subheader {
    margin-bottom: 0;
    font-size: 30px;
  }

  .grid { display: none; }
  .lg-grid { display: inline; }

  .section-divider {
    margin: 20px 0 50px;
  }
}
}