/* -------------------------------------------------------------------- 
   Tables
   -------------------------------------------------------------------- */

table {
  margin-bottom: 10px;
  width: 100%;
  overflow: hidden;
  border: 1px solid #ddd;
  border-right: 0;
  border-bottom: 0;
  border-collapse: separate;
  text-align: left;
}
table thead {
  background-color: #fff;
}
table tbody {
  background-color: #fafafa;
}
table th,
table td {
  padding: 10px;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}