<meta charset="utf-8">
<title>{{ site.name }}</title>
<meta name="description" content="{{ site.description }}">
<meta name="author" content="{{ site.author }}">
<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="shortcut icon" href="favicon.ico">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="stylesheet" href="dist/chassis.css">
<link rel="stylesheet" href="dist/chassis-theme.css">
<link rel="stylesheet" href="docs-assets/css/docs.css">
<link rel="stylesheet" href="docs-assets/css/prettify.css">

<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

<link rel="apple-touch-icon-precomposed" sizes="114x114" href="docs-assets/img/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="docs-assets/img/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon-precomposed" sizes="57x57" href="docs-assets/img/apple-touch-icon-57x57.png">