<!-- Javascript placed at the bottom to speed up the page load. -->
<script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
<script src="docs-assets/js/prettify.js"></script>
<script src="docs-assets/js/scrollspy.js"></script>
<script src="docs-assets/js/docs.js"></script>

<!-- Analyics -->
<script type="text/javascript">
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '5191c085f5a1f52bcc0001d9');
    t.src = '//secure.gaug.es/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
</script>