/* -------------------------------------------------------------------- 
   Documentation styles
   -------------------------------------------------------------------- */


/* Header styles 
------------------------------- */
.header {
  display: block;
  width: 100%;
  text-align: center;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}
.title {
  font-size: 24px;
}
/* Giving the download button a little bit of top margin to position it nicely. */
.download {
  display: block;
  margin-top: 10px;
}
.section {
  margin: 40px 0 60px;
  clear: both;
}
.section-description {
  margin-bottom: 30px;
  color: #555;
  font-size: 20px;
  font-weight: 300;
}
.section-sub-title {
  font-size: 24px;
}
/* The masthead refers to the big explaination text at the top of the main column */
.masthead-text {
  padding-bottom: 24px;
  margin: 30px 0 -10px;
  color: #777;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}
.example {
  font-weight: 500;
}
/* The large hr dividing each section. */
.docs-split {
  clear: both;
}


/* Grid docs 
------------------------------- */

.grid-example {
  margin-bottom: 40px;
  clear: both;
}
/* Lines up the grid example for presentation's sake. */
.grid-example > .column-group {
  margin: 0;
}
.grid-example .column {
  padding-top: 15px;
  padding-bottom: 15px;
  background: #eee; 
  font-size: 14px;
  font-weight: bold;
  color: #999;
  white-space: nowrap;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  border: 1px solid #ddd;
}
/* Next column example styles */
.grid-example .column .column {
  background: #ccc; 
  border: 1px solid #aaa;
}


/* Button docs 
------------------------------- */

.btn-example [class*="button"] {
  margin-bottom: 10px;
}


/* Icon docs 
------------------------------- */

.icon-examples {
  margin-top: 40px;
  overflow: hidden;
}
.icon-examples .icon {
  display: inline-block;
  margin: 0 10px 10px 0;
  float: left;
  width: 45px;
  height: 45px;
  border: 1px solid #ddd;
  line-height: 1;
  font-size: 45px;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0,0,0,.05)
}


/* Footer 
------------------------------- */
.footer {
  padding: 21px 0;
  margin: 0;
  font-size: 70%;
  color: #777;
}


/* Example layout docs 
------------------------------- */

.layout-example {
  display: block;
  padding: 3px;
  margin-top: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 3px;
  -webkit-transition: border linear .2s, box-shadow linear .2s;
     -moz-transition: border linear .2s, box-shadow linear .2s;
          transition: border linear .2s, box-shadow linear .2s;
}
.layout-example:first-child {
  margin-top: 0;
}
.layout-example:hover {
  border: 1px solid rgba(0, 0, 0, .3);
  box-shadow: 0 1px 3px rgba(0,0,0,.1);
}
[class*="thumb"] {
  display: block;
  margin-top: 1.4%;
  width: 100%;
  height: 50px;
  background-color: #eee;
  border-radius: 3px;
}
[class*="thumb"]:first-child {
  margin-top: 0;
}
.thumb-main,
.thumb-bar {
  height: 150px;
}
.thumb-main {
  float: left;
  width: 74.5%;
}
.thumb-bar {
  float: right;
  width: 23.94%;
}
.thumb-middle,
[class*="thumb-side"],
[class*="thumb-small"] {
  float: left;
  margin-left: 1.4%;
}
.thumb-middle,
[class*="thumb-side"] {
  height: 150px;
}
.thumb-middle {
  width: 49%;
}
[class*="thumb-side"] {
  width: 24%;
}
.thumb-side-first {
  margin-left: 0;
}
[class*="thumb-small"] {
  width: 23.94%;
}
.thumb-small-first {
  margin-left: 0;
}


/* Code example styles
------------------------------- */

body pre.prettyprint {
  margin-bottom: 80px;
  padding: 10px;
  overflow-x: auto;
  border: 1px solid #ddd;
  font-size: 14px;
  white-space: pre;
  word-wrap: normal;
  background-color: #fafafa;
  border-radius: 3px; 
}
.column pre.prettyprint:last-child {
  margin-bottom: 0;
}
body pre.less-margin {
  margin-bottom: 20px;
}

/* Desktop screens
------------------------------- */

@media screen and (min-width: 768px) {
  /* Shortening up the container width and increasing the padding for the docs. */
  .container { max-width: 720px }

  /* Positions the main content column correctly with the sidebar. */
  .container {
    margin-left: 23%;
    margin-right: 3%;
  }
  .masthead-text {
    font-size: 40px;
    text-align: left;
  }
  .download {
    display: inline-block;
  }

  /* Desktop sidebar */
  .header {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 0 2%;
    width: 20%;
    background-color: #f8f8f8;
    border-right: 1px solid #ddd;
    text-align: left;
    box-shadow: inset -1px 0 5px rgba(0,0,0,.05);
  }
  .title {
    margin-top: 57px;
    margin-right: 10%;
    font-size: 30px;
    text-shadow: 0 1px 0 #fff;
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(#333), to(rgba(0,0,0,0.85)));
  }
  .navigation {
    display: block;
    padding: 0;
    margin: 15px 0 20px 0;
    list-style: none;
  }
  .navigation li a {
    display: block;
    padding: 12px 13%;
    margin: 0 -12.5%;
    border-bottom: 1px solid #ddd;
    color: #333;
    text-shadow: 0 1px 0 #fff;
    box-shadow: inset 0 1px 0 rgba(255,255,255,1);
    -webkit-transition: all 0.1s ease-in 0;
       -moz-transition: all 0.1s ease-in 0;
            transition: all 0.1s ease-in 0;
  }
  .navigation li:first-child a {
    border-top: 1px solid #ddd;
  }

  .navigation li.active a,
  .navigation li a:hover {
    background-color: #fff;
    box-shadow: inset -1px 0 5px rgba(0,0,0,.05);
  }
  .navigation li a:hover {
    color: #0882f0;
  }
  .navigation li.active a {
    color: #333;
    font-weight: 700;
  }
  .star-btn { 
    display: block;
  }
  .version {
    display: block;
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 0 0 20px;
    width: 100%;
    font-size: 70%;
    color: #777;
    text-shadow: 0 1px 0 #fff;
    list-style: none;
  }
  .version li {
    float: left;
    padding-right: 20px;
  }
  .version a {
    color: #777;
  }
  .version a:hover {
    color: #0964b5;
  }
  .btn-example .button  {
    margin-bottom: 0;
  }
  /* Icons */
  .icon-examples .icon {
    width: 38px;
    height: 38px;
    font-size: 38px;
  }
  .layout-examples {
    overflow: hidden;
  }
  .layout-example {
    float: left;
    margin-top: 0;
    margin-bottom: 3px;
    margin-left: 2%;
    width: 32%;
  }
  .layout-example:first-child {
    margin-left: 0;
  }
  .thumb-main,
  .thumb-bar {
    height: 120px;
  }
  .thumb-middle,
  [class*="thumb-side"] {
    height: 120px;
  }
}


/* Large desktop screens
------------------------------- */

@media screen and (min-width: 1200px) {
  /* Overriding the default grid in the docs. */
  .column {
    padding: 0 20px;
  }
}